html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 52px;
  color: var(--primary-500);
}
h2 {
  font-size: 40px;
  color: var(--primary-500);
}
h3 {
  font-size: 32px;
  color: var(--primary-500);
}
h4 {
  font-size: 28px;
  color: var(--primary-500);
}
h5 {
  font-size: 22px;
  color: var(--primary-500);
}
h6 {
  font-size: 18px;
  color: var(--primary-500);
}
a {
  color: var(--interactive-400);
}
a:hover {
  color: var(--interactive-300);
}
p {
  font-size: 16px;
  line-height: 24px;

}
.p-md {
  font-size: 20px;
  line-height: 28px;
  color: var(--primary-500);
}
.p-lg {
  font-size: 24px;
  line-height: 32px;
  color: var(--primary-500);

}

:root {
  --primary-100: #e9e8ee;
  --primary-200: #bdbacc;
  --primary-300: #928dab;
  --primary-400: #666277;
  --primary-500: #3a3844;

  --secondary-100: #fff7de;
  --secondary-200: #ffebac;
  --secondary-300: #ffe38b;
  --secondary-400: #ffd85a;

  --interactive-100:#ebd39a;
  --interactive-200: #dcb24e;
  --interactive-300: #ce9103;
  --interactive-400: #b98202;

  --box-shadow-100: 0px 0px 30px rgba(000, 000, 000, .2);

  --box-shadow-interactive: 0px 0px 30px rgba(220, 178, 78, .2);

}
